@page "/administration/tenants"
@attribute [Authorize(Policy = AllPermissions.Tenants.View)]
@using AuthClient.Client.Infrastructure.Models.Response

<style>
    .mud-table-cell-custom-group {
        font-weight: 500;
    }

    .mud-table-cell-custom-group-footer {
        padding-bottom: 50px;
        text-align: right;
    }
</style>

<Breadcrumbs Title="Организации" BreadcrumbItems="_items" />

<MudGrid Spacing="1">
    @if (_canCreateTenants)
    {
        <MudItem xs="12" sm="3" md="3" lg="2">
            <MudButton FullWidth="true" Variant="Variant.Filled" Color="Color.Success" OnClick="(() => InvokeModal())"
                       StartIcon="@Icons.Material.Filled.Add" IconColor="Color.Surface">Добавить</MudButton>
        </MudItem>
    }
    <MudItem xs="12" sm="3" md="3" lg="2">
        <MudButton FullWidth="true" Variant="Variant.Filled" Color="Color.Primary" OnClick="ReloadDataAsync"
                   StartIcon="@Icons.Material.Filled.Refresh" IconColor="Color.Surface" Disabled="@_loading">
            Обновить
        </MudButton>
    </MudItem>
</MudGrid>

<MudPaper Class="mt-3 mb-5">
    <MudTable ServerData="@(new Func<TableState, Task<TableData<ResponseTenant>>>(ServerReloadAsync))" @ref="_tableData" Loading="@_loading" Bordered="true" Outlined="true" Hover="true" Striped="false" Breakpoint="Breakpoint.None" FixedHeader="true" Dense="false" HeaderClass="table-head-bordered" GroupHeaderStyle="background-color:var(--mud-palette-background-grey)">
        <ColGroup>
            @if (_groupDefinition.Expandable)
            {
                <col style="width: 60px;" />
            }
            <col />
            <col />
            <col />
            <col />
        </ColGroup>
        <HeaderContent>
            <MudTh>Наименование</MudTh>
            <MudTh>ИНН</MudTh>
            <MudTh>Email</MudTh>
            @if (_canEditTenants || _canDeleteTenants || _canEditPermissionTenants)
            {
                <MudTh Class="text-center">Опции</MudTh>
            }
        </HeaderContent>
        <GroupHeaderTemplate>
            <MudTh Class="mud-table-cell-custom-group" colspan="5">@($"{context.GroupName}: ")</MudTh>
            @*{context.Items.FirstOrDefault(x => x.Tenant.Id == context.Key.ToString())?.Tenant?.FullName}*@
        </GroupHeaderTemplate>
        <RowTemplate>
            <MudTd DataLabel="Наименование">@context.FullName</MudTd>
            <MudTd DataLabel="ИНН">@context.INN</MudTd>
            <MudTd DataLabel="Email">@context.Email</MudTd>

            @if (_canEditTenants || _canDeleteTenants || _canEditPermissionTenants)
            {
                <MudTd DataLabel="Actions" Style="width: 80px">
                    <MudMenu Direction="Direction.Start" OffsetX="true" Icon="@Icons.Material.Filled.MoreVert" Color="Color.Primary">
                        @if (_canEditTenants)
                        {<MudMenuItem OnClick="(() => InvokeModal(context.Id))"><div class="d-flex"><MudIcon Icon="fas fa-edit" Color="Color.Info" Class="mr-3" />Изменить</div></MudMenuItem>}
                        @if (_canEditPermissionTenants)
                        {<MudMenuItem OnClick="(() => ManagePermissionsModal(context.Id))"><div class="d-flex"><MudIcon Icon="fas fa-sliders-h" Color="Color.Warning" Class="mr-3" />Права доступа</div></MudMenuItem>}
                        @if (_canDeleteTenants)
                        {<MudMenuItem OnClick="(() => DeleteModal(context.Id, context.FullName))"><div class="d-flex"><MudIcon Icon="fas fa-trash" Color="Color.Error" Class="mr-3" />Удалить</div></MudMenuItem>}
                    </MudMenu>
                </MudTd>
            }
        </RowTemplate>
        <GroupFooterTemplate>
            <MudTh Class="mud-table-cell-custom-group mud-table-cell-custom-group-footer" colspan="5">Всего: @context.Items.Count()</MudTh>
        </GroupFooterTemplate>

        <NoRecordsContent>
            <MudText>Нет данных для отображения</MudText>
        </NoRecordsContent>

        <LoadingContent>
            <MudText>Подождите, идет загрузка данных...</MudText>
        </LoadingContent>

        <PagerContent>
            <TablePager />
        </PagerContent>
    </MudTable>
</MudPaper>
