@page "/pages/roles"
@attribute [Authorize(Policy = AllPermissions.Roles.View)]
@using AuthClient.Client.Infrastructure.Models.Response

<Breadcrumbs Title="Роли" BreadcrumbItems="_items" />

<MudGrid Spacing="1">
    @if (_canCreateRoles)
    {
        <MudItem xs="12" sm="3" md="3" lg="2">
            <MudButton FullWidth="true" Variant="Variant.Filled" Color="Color.Success" OnClick="(() => InvokeModal())"
                       StartIcon="@Icons.Material.Filled.Add" IconColor="Color.Surface">Добавить</MudButton>
        </MudItem>
    }
    <MudItem xs="12" sm="3" md="3" lg="2">
        <MudButton FullWidth="true" Variant="Variant.Filled" Color="Color.Info" OnClick="ReloadDataAsync"
                   StartIcon="@Icons.Material.Filled.Refresh" IconColor="Color.Surface" Disabled="@_loading">
            Обновить
        </MudButton>
    </MudItem>
</MudGrid>

<MudPaper Class="mt-3 mb-5">
    <MudTable ServerData="@(new Func<TableState, Task<TableData<ResponseRole>>>(ServerReloadAsync))" @ref="_tableData" Loading="@_loading" Bordered="true" Outlined="true" Hover="true" Striped="true" Breakpoint="Breakpoint.None" FixedHeader="true" Dense="true" HeaderClass="table-head-bordered">
        <HeaderContent>
            <MudTh>№</MudTh>
            <MudTh>Наименование</MudTh>
            <MudTh>Описание</MudTh>
            @if (_isSuperAdmin)
            {<MudTh>Организация</MudTh>}
            @if (_canEditRoles || _canDeleteRoles || _canViewRoleClaims)
            {<MudTh Class="text-center">Опции</MudTh>}
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="№">@(_roleList.IndexOf(context) + 1)</MudTd>
            <MudTd DataLabel="Наименование">@context.Name</MudTd>
            <MudTd DataLabel="Описание">@context.Description</MudTd>
            @if (_isSuperAdmin)
            {<MudTd DataLabel="Организация">@context.Tenant.FullName</MudTd>}

            @if (_canEditRoles || _canDeleteRoles || _canViewRoleClaims)
            {
                <MudTd DataLabel="Actions" Style="width: 80px">
                    <MudMenu Direction="Direction.Start" OffsetX="true" Icon="@Icons.Material.Filled.MoreVert" Color="Color.Primary">
                        @if (_canEditRoles)
                        {<MudMenuItem OnClick="(() => InvokeModal(context.Id))"><div class="d-flex"><MudIcon Icon="fas fa-edit" Color="Color.Info" Class="mr-3" />Изменить</div></MudMenuItem>}
                        @if (_canViewRoleClaims)
                        {<MudMenuItem OnClick="(() => ManagePermissionsModal(context.Id))"><div class="d-flex"><MudIcon Icon="fas fa-sliders-h" Color="Color.Warning" Class="mr-3" />Права доступа</div></MudMenuItem>}
                        @if (_canDeleteRoles)
                        {<MudMenuItem OnClick="(() => DeleteModal(context.Id, context.Name))"><div class="d-flex"><MudIcon Icon="fas fa-trash" Color="Color.Error" Class="mr-3" />Удалить</div></MudMenuItem>}
                    </MudMenu>
                </MudTd>
            }
        </RowTemplate>

        <NoRecordsContent>
            <MudText>Нет данных для отображения</MudText>
        </NoRecordsContent>

        <LoadingContent>
            <MudText>Подождите, идет загрузка данных...</MudText>
        </LoadingContent>

        <PagerContent>
            <TablePager />
        </PagerContent>
    </MudTable>
</MudPaper>