
<EditForm Model="@_MSModel" OnValidSubmit="SubmitAsync">
    <DataAnnotationsValidator />
    <div class="px-7">
        <TextField ValueExpression="@(() => _MSModel.FullName)" @bind-MyValue="_MSModel.FullName" MyLabel="Наименование" MyRequired />
        <TextField ValueExpression="@(() => _MSModel.URL)" @bind-MyValue="_MSModel.URL" MyLabel="Ссылка" MyRequired />
        <TextField ValueExpression="@(() => _MSModel.IP)" @bind-MyValue="_MSModel.IP" MyLabel="IP адрес" />
        <TextField ValueExpression="@(() => _MSModel.Port)" @bind-MyValue="_MSModel.Port" MyLabel="Порт" />
        <TextField ValueExpression="@(() => _MSModel.Description)" @bind-MyValue="_MSModel.Description" MyLabel="Описание" MyLines="3" />
    </div>

    <MudGrid Spacing="1" Class="d-flex justify-end py-3 px-7">
        <MudItem xs="12" sm="6" md="3">
            <MudButton DisableElevation Variant="Variant.Filled" Color="Color.Success" FullWidth Disabled="_loading" ButtonType="ButtonType.Submit">
                @if (_loading)
                {
                    <MudProgressCircular Size="Size.Small" Color="Color.Info" Indeterminate="true" />
                }
                else
                {
                    <MudText>Сохранить</MudText>
                }
            </MudButton>
        </MudItem>
        <MudItem xs="12" sm="6" md="3">
            <MudButton DisableElevation Variant="Variant.Filled" OnClick="Cancel" FullWidth>Отмена</MudButton>
        </MudItem>
    </MudGrid>
</EditForm>